* {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

h1 {
    font-family: 'Rock 3D', cursive;
    font-family: 'Shizuru', cursive;
}

a {
    padding: 4px;
}

h1 {
    font-weight: 400;
    font-size: 2rem;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 32px;
}

p {
    line-height: 24px;
}

li {
    line-height: 24px;
}

header {
    background-color: #14154b;
    color: white;
    padding: 30px 30px;
    display: flex;
}

header > div:last-child {
    margin-left: auto;
}

figure {
    width: auto;
}

footer {
    padding: 24px;
    background-color: #14154b;
    display: flex;
}

footer > a:last-child {
    margin-left: auto;
}

.about {
    padding: 32px;
    background-color: #FAF9F6;
}

.text-about {
    flex-direction: column;
    width: 30rem;
}

.container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: row;
}

.item{
    margin: 0.5rem;
}

.about-possum {
    border-radius: 50%;
    width: 15rem;
}

.hobbies-games {
    padding: 32px;
}

.list{
    max-width: 25rem;
}

.hobby{
    height: 5rem;
    background-color: #cecece;
    padding: 0.5rem;
    border-radius: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
}

.subtitle{
    display: flex;
    justify-content: flex-end;
}

.text-hobby{
    position: relative;
    bottom: 0%;
}

.icon {
    width: 32px;
    height: 32px;
}

.icon:hover {
    filter: drop-shadow(0px 0px 1px black);
}